[Unit]
Description=change input lang to english beffore Lock X session for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStart=/usr/bin/setxkbmap us

[Install]
WantedBy=sleep.target
